.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
/* PCs */
@media screen and (min-width: 650px) {
    .row {
        margin-left: 28%;
    }
    .gpc {
        opacity: 100%;
    }
    .gmobile {
        opacity: 0%;
        user-select: none;
        pointer-events: none;
    }
}
/* Phones: */
@media screen and (max-width: 650px) {
    .row {
        margin-left: 4%;
    }
    .gpc {
        opacity: 0%;
        user-select: none;
        pointer-events: none;
    }
    .gmobile {
        opacity: 100%;
    }
}
.friends {
    /* border: solid 4px var(--BGAccent); */
    margin: 10px;
    padding: 6px;
    /* border-radius: 15px 0px 15px 0px; */
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(to right, var(--BGLight), var(--BGLight)) border-box;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid transparent;

    min-width: 400px;
    max-width: 400px;

    min-height: none;
    max-height: none;
    
    position: relative;

    opacity: 75%;
}

.friends a:hover {
    color: var(--BGAccent);
}

.friends:hover {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(to right, var(--BGLight), var(--BGAccent)) border-box;
}

.friends h2 {
    text-shadow: 2px 2px var(--BGAccent);
    text-align: left;
    margin-top: 2px;
}

.friends span {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.contact {
    /* border: solid 4px var(--BGAccent); */
    margin: 10px;
    padding: 6px;
    /* border-radius: 15px 0px 15px 0px; */
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(to right, var(--BGAccent), var(--Text)) border-box;
    border-radius: 15px 0px 15px 0px;
    border: 4px solid transparent;

    min-width: 225px;
}

.contact input, .contact button {
    /* padding: 0.25em;
    margin: 0.25em; */
    width: 100%;
    color: var(--Text);
    background: var(--BGLight);
    border-radius: 15px 0px 15px 0px;
    border-color: var(--BGDark);
}

.contact input:hover, .contact button:hover {
    background: var(--BGAccent);
    cursor: pointer;
}

.twitter {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(29, 161, 242)) border-box !important;
}

.instagram {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, rgb(251, 173, 80), rgb(138, 58, 185)) border-box !important;
}

.telegram {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(0, 136, 204)) border-box !important;
}

.discord {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(114, 137, 217)) border-box !important;
}

.email {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, rgb(36,158,228), rgb(3,79,160)) border-box !important;
}

.github {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(0, 0, 0)) border-box !important;
}