.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 28%;
}

.contact {
    /* border: solid 4px var(--BGAccent); */
    margin: 10px;
    padding: 6px;
    /* border-radius: 15px 0px 15px 0px; */
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(to right, var(--BGAccent), var(--Text)) border-box;
    border-radius: 15px 0px 15px 0px;
    border: 4px solid transparent;

    min-width: 225px;
}

.contact input, .contact button {
    /* padding: 0.25em;
    margin: 0.25em; */
    width: 100%;
    color: var(--Text);
    background: var(--BGLight);
    border-radius: 15px 0px 15px 0px;
}

.contact input:hover, .contact button:hover {
    background: var(--BGAccent);
    cursor: pointer;
}

.twitter {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(29, 161, 242)) border-box !important;
}

.instagram {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, rgb(251, 173, 80), rgb(138, 58, 185)) border-box !important;
}

.telegram {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(0, 136, 204)) border-box !important;
}

.discord {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(114, 137, 217)) border-box !important;
}

.email {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, rgb(36,158,228), rgb(3,79,160)) border-box !important;
}

.github {
    background: linear-gradient(var(--BGDark), var(--BGDark)) padding-box,
    linear-gradient(45deg, var(--BGDark), rgb(0, 0, 0)) border-box !important;
}